!tce_common.cfg

#======== DATA TABLES ============================#

#BMTS:dir /net/tafco_data/teradata/CQG_MD
BMTS:dir /CQG_MD

#==================================================#
LOG:def:priority ALERT,ERROR,WARNING,INFO,STATUS

#TCControl:heartbeat_interval 1
Z:Worker:hwm	1
Z:Worker:lwm	0

